@import "@components/Shared/common.scss";

.feed {
    margin: 0 auto;
    // width: fit-content;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 700px;
    &__description{
        background: white;
        width: 700px;
        gap: 15px;
        border-radius: 12px;
        padding: 15px;
        height: fit-content;
    }
    &__empty {
        background: white;
        width: 700px;
        gap: 15px;
        display: flex;
        border-radius: 12px;
        padding: 15px;
        height: fit-content;
        &__noposts {

        }
        &__search-img {
            
        }
        &__search-btn {
            @include main-color-button;
            width: fit-content;
            padding: 15px;
            height: 100%;
        }
    }
}