<div class="feed">
    <div class="feed__description">Лента</div>
    <div class="feed__empty" style="display: none;">
        <div class="feed__empty__noposts">Здесь пока что нет постов. Подпишитесь на авторов, чтобы отслеживать больше контента</div>
        <div class="feed__empty__search-img"></div>
        <button class="feed__empty__search-btn"></button>
    </div>
    {{#each posts}}
        {{>post post=this isOwner=false}}
    {{/each}}
</div>
