@import "@components/Shared/common.scss";

.feed {
    margin: 0 auto;
    // width: fit-content;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 700px;
    &__description{
        background: white;
        width: auto;
        gap: 15px;
        border-radius: 12px;
        padding: 15px;
        height: fit-content;
    }
    &__empty {
        background: white;
        width: auto;
        gap: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        padding: 15px;
        height: fit-content;
        &__figure {
            overflow: hidden;
            height: 200px;
        }
        &__noposts {

        }
        &__search-img {
            object-fit: cover;
        }
        &__search-btn {
            @include main-color-button;
            width: fit-content;
            padding: 15px;
            height: 100%;
        }
    }
}