
/* Страница логина */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: relative;
width: 1440px;
height: 1024px;

background: #F8F2EC;


/* Frame 23 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1440px;
height: 1024px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Шапки */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 25px 15px;
gap: 15px;

width: 1440px;
height: 100px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 45 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;

width: 697.5px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 54 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 193px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Шапки/logo 1 */

width: 193px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* logo 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(logo.png);


/* Frame 44 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 15px;

width: 697.5px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Component 2 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px;
gap: 10px;

width: 133px;
height: 52px;

background: #FFFFFF;
border: 2px solid #FFB97D;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Регистрация */

width: 103px;
height: 22px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: rgba(0, 0, 0, 0.75);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Component 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px;
gap: 10px;

width: 80px;
height: 52px;

background: #FF8A26;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Войти */

width: 50px;
height: 22px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 55 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 1440px;
height: 924px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Окно авторизации */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 754px;
height: 459px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 87 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 45px 30px 15px;
gap: 15px;

width: 448px;
height: 435px;

background: #FFE5CC;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 90 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px 15px;

width: 350px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* С возвращением! */

width: 320px;
height: 49px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
/* identical to box height */

color: #D68048;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Pig */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 311px;
height: 311px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* pngwing 1 */

width: 311px;
height: 311px;

background: url(pngwing.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 86 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 310px;
height: 435px;

filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ФОрмы */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 45px 0px 30px;
gap: 30px;

width: 310px;
height: 435px;

background: #FFFFFF;
border-radius: 0px 12px 12px 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 88 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 30px;

width: 310px;
height: 49px;

border-radius: 0px 12px 12px 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 89 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 89px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Вход */

width: 89px;
height: 49px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 49px;
/* identical to box height */

color: #D68048;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 57 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 30px;

width: 310px;
height: 52px;

border-radius: 0px 12px 12px 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Инпут */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 15px;
gap: 5px;

width: 250px;
height: 52px;

background: #FFFFFF;
border: 1px solid #FFB97D;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Логин */

width: 49px;
height: 22px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: rgba(0, 0, 0, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 58 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 30px;

width: 310px;
height: 52px;

border-radius: 0px 12px 12px 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Инпут */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 15px;
gap: 5px;

width: 250px;
height: 52px;

background: #FFFFFF;
border: 1px solid #FFB97D;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Логин */

width: 59px;
height: 22px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: rgba(0, 0, 0, 0.4);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 91 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 30px;

width: 310px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Checkbox with label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 150px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Checkbox */

width: 20px;
height: 20px;

background: #5470FF;
box-shadow: 0px 3px 5px rgba(46, 46, 66, 0.08);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 30%;
bottom: 30%;

border: 2px solid #FFFFFF;


/* Запомнить меня */

width: 124px;
height: 20px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 59 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px 0px;
gap: 30px;

width: 310px;
height: 67px;

border-radius: 0px 12px 12px 0px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Component 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px;
gap: 10px;

width: 80px;
height: 52px;

background: #FF8A26;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Войти */

width: 50px;
height: 22px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 60 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 129px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Забыли пароль? */

width: 129px;
height: 19px;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFBA8C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
