<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vkontent</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="log.css">
</head>

<body>
<div class="container1">
    <div class="box1">
    </div>
    <div class="box2">
        <script src="login.js"></script>
        <div class="error"></div>
        <form action="login" method="post">
            <input type="login" class="login_" placeholder="Логин" id="login" name="login" required><br>
            <input type="password" class="password_" placeholder="Пароль" id="password" name="password" required><br>
            <input type="button" class="logbutton" name="buttonlog" value="Войти">
            <p class="forgot">Забыли пароль?</p>
        </form>
    </div>
</div>
<div>
</div>
<div>
</div>
</body>
</html>