<link rel="stylesheet" type="text/css" href="components/Login/login.css"/>
<form action="login" method="post">
    <div class="container">
        <script src="login.js"></script>
        <div class="error"></div>
        <form action="login" method="post">
        <input type="login" placeholder="Логин" id="login" name="login" required><br>
        <input type="password" placeholder="Пароль" id="password" name="password" required><br>
        <input type="button" class="logbutton" name="buttonlog" value="Войти">
        </form>
        <p>Забыли пароль?</p>
    </div>
</form>