.container {
    height: 93vh;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

input[type="login"]{
    padding-left: 10px;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 25vw;
    height: 10vh;
}

input[type="login"]::placeholder{
    font-family: sans-serif;
    font-size: 1rem;
}

input[type="password"]::placeholder{
    font-family: sans-serif;
    font-size: 1rem;
}


input[type="password"]{
    padding-left: 10px;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 25vw;
    height: 10vh;
}

.logbutton{

    text-align: center;
    font-size: 1rem;
    color: white;
    background-color:  #FF4D4D;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 15vw;
    height: 10vh;
}

.forgotpassword{
    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: None;
    color: #FF4D4D;
}

.regbutton{
    padding-left: 10px;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color:  #FF4D4D;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 25vw;
    height: 10vh;
}

h6{
    font-family: sans-serif;
    margin-bottom: -5px;
    font-weight: normal;
    font-size: 1rem;
    color: #FF4D4D;
}
