<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vkontent</title>
    <link rel="stylesheet" href="main_login.css">
</head>
<body>
<div class="cont">
    <div class="container1">
        <p class="return_text">С возвращением!</p>
        <img class="pig" src="../../../static/img/pngwing1.png">
    </div>
    <div class="container2">
        <p class="entry_text">Вход</p>
        <form action="login" method="post">
            <input type="login" class="login_" placeholder="Логин" id="login" name="login" required><br>
            <input type="password" class="password_" placeholder="Пароль" id="password" name="password" required><br>
            <label class="label_remember_me">
                <input class="checkbox_" type="checkbox">
                <span class="remember_me">Запомнить меня</span>
            </label><br>
            <div class="button_and_heading">
                <input type="button" class="logbutton" name="buttonlog" value="Войти">
                <p class="forgot" href="/">Забыли пароль?</p>
            </div>
    </div>
    </form>
</div>
</body>
</html>