@import "@components/Shared/common.scss";

// @media (max-width: 760px) and (orientation: portrait) {
//   .user-page {
//     display: block !important;
//   }
//   .user-page__left-column {
//     margin-top: 0px !important;
//   }
//   .navbar {
//     padding: 1rem !important;
//   }
//   .navbar > img {
//     display: none;
//   }
//   .navbar > button {
//     font-size: 1rem;
//     width: 32% !important;
//     height: 4vh !important;
//     margin: 0 1vh 0 0 !important;
//   }
//   button {
//     font-size: 1rem;
//   }
//   .navbar > input {
//     height: 4vh !important;
//     padding: 0.5rem !important;
//     width: 28% !important;
//   }

//   .about {
//     font-size: 2rem !important;
//   }

//   .user-page__nickname {
//     font-size: 2rem !important;
//   }
// }

.user-cover {
  height: 200px;
  width: 100%;
  background-color: #fad5b4;
}

.user-page {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  display: grid;
  gap: 15px;
  grid-template-columns: fit-content 58.5% fit-content;
  grid-template-rows: fit-content fit-content fit-content fit-content;

  // &__main-block {
  //   height: 100%;
  //   color: black;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 15px;
  // }

  &__name-and-status {
    margin-top: 20px;
    height: fit-content;
    border-radius: 12px;
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  &__nickname {
    // padding-left: 3%;
    // padding-top: 2%;
    font-weight: 700;
    font-size: 30px;
  }

  &__status {
    // padding-left: 3%;
    // padding-top: 1%;
    // padding-bottom: 3%;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.80);
  }

  // &__left-column {
  //   margin-top: calc(-200px + 100px);
  //   display: flex;
  //   flex-direction: column;
  //   // justify-content: center;
  //   gap: 15px;
  // }

  &__ava-block {
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }

  &__subs-amount {
    // padding-top: 5%;
    // position: relative;
    // top: 7%;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
  }

  &__subs-word {
    // position: relative;
    // top: 7%;
    text-align: center;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
    // padding-bottom: 5%;
  }

  &__ava {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 9999px;
    width: 75%;
    aspect-ratio: 1/1;
    background-color: white;
  }

  &__right-column {
    margin-top: 0;

    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  &__ava-img {
    // object-fit: cover;
    // width: 100%;
    // height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__page-settings {
    cursor: pointer;
    float: right;
    // margin-top: 2%;
    // margin-right: 2%;
    height: 20px;
  }

  &__status_dialog, &__about_dialog {
    width: 30%;
    border-radius: 12px;
    border-color: white;
  }

  &__save-btn {
    @include main-color-button;
    margin-bottom: 1vh;
    width: 10vh;
    margin-top: 2.5vh;
  }

  &__status-input {
    margin-right: 1vh;
    width: 100%;
    height: 10vh;
    border-radius: 12px;
    border: 1px solid #FF8364;
    box-sizing: border-box;
    padding: 1rem;
  }
}

@media (max-width: 760px) and (orientation: portrait) {
  .user-page {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    left: 0% !important;
    gap: 15px !important;
    transform: translate(0, 0) !important;
    &__left-column {
      order: 1 !important;
    }
    &__main-block {
      order: 3 !important;
    }
    &__right-column {
      order: 2 !important;
    }
  }
}