<div class="not-found">
    <h1 class="not-found__text" style="">404 NOT FOUND</h1>
    <h3 class="not-found__text" style="text-align: center;">Мы пока что не сделали эту страницу =(</h3>
    <h3 class="not-found__text" style="text-align: center;">Можете пока что попить кофе с агентом Купером</h3>
    <img src="" class="not-found__image" id="uw-img">
</div>