<div class="navbar">
    <img src="img/logo.png" class="navlogo">
    <button class="common-button main-page-btn">На главную</button>
    {{#if User}}
        <button class="common-button exit-btn"> Выйти </button>
        <img src="img/default-ava.png" class="nav-ava">
    {{else}}
        <button class="common-button exit-btn" id="login-btn">Войти</button>
        <button class="common-button reg-btn" id="reg-btn"> Регистрация </button>
     {{/if}}
    <input type="text" placeholder="Поиск автора...">
</div>