<link rel="stylesheet" type="text/css" href="components/Navbar/navbar.css"/>
<div class="navbar">
    <img src="img/logo.png" class="navlogo">
    <button class="main-page-btn">На главную</button>
    {{#if User}}
        <button class="exit-btn"> Выйти </button>
        <img src="img/default-ava.png" class="nav-ava">
    {{else}}
        <button class="exit-btn" id="login-btn">Войти</button>
        <button class="reg-btn" id="reg-btn"> Регистрация </button>
     {{/if}}
    <input type="text" placeholder="Поиск автора...">
</div>
<script src="navbar_buttons.js"></script>