.post-edit{
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 3vh;
}

.post-params {
    padding-top: 0.5vh;
    padding-left: 1vw;
    background-color: white;
    border-radius: 12px;
    width: 30vw;
    height: 45vh;
}

.post-edit-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 62% 38%;
}


.subs-list {
    margin-left: 1vw;
    border-radius: 12px;
    width: 100%;
    padding-bottom: 2vh;
}

.buttons {
    padding: 1vh;
    background-color: white;
    border-radius: 12px;
    height: 5vh;
    width: 100%;
    margin-top: 3vh;
    margin-left: -1vw;
}

.save-profile-button {
    border-color: white;
    color: white;
    width: 7vw;
    background-color: #FF4D4D;
    height: 100%;
}

.delete-profile-button {
    border-color: #FF4D4D;
    float: right;
    margin-right: 20vh;
    color: #FF4D4D;
    width: 12vw;
    background-color: white;
    height: 100%;
    margin-left: 1vw;
}

.attach-variants {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

th, td {
    padding: 1vh 1vw;
    border: 1px solid lightgray;
}

tr:last-child td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.post-theme {
    display: block;
    margin-top: 1vh;
    font-size: 2rem;
    border: none;
    padding: 1vh;
}

.post-description {
    display: block;
    margin-top: 1vh;
    font-size: 1rem;
    border: none;
    padding: 1vh;
    height: 20vh;
    width: 25vw;
    resize: none;
}

.tags {
    margin-top: 7vh;
    background-color: white;
    border-radius: 12px;
    height: 10vh;
    margin-left: -1vw;
    padding-top: 1vh;
    padding-bottom: 4vh;
    padding-left: 1vw;
}

.tag-input {
    border-color: #D9D9D9;
    border-radius: 12px;
    height: 3vh;
    padding: 1vh;
    width: 90%;
}

.av-subscriptions {
    background-color: white;
    border-radius: 12px;
    padding: 1vh 1vw;
}

.sub_variant {
    padding-top: 2vh;
    font-size: 16px;
}

.sub_variant > label{
    border: none !important;
}

#back {
    color: #FF4D4D;
}