<link rel="stylesheet" href="components/SubLevel/sub_level.css">
<div class = 'subscription-level'>
    <p style="font-weight: 700">{{name}}</p>
    <p style="font-weight: 400; color: rgba(0, 0, 0, 0.60);">{{price}} руб. в месяц</p>
    <p style="font-weight: 400; color: rgba(0, 0, 0, 0.60);">{{description}}</p>
    <button class='buy-sub'> Подписаться </button>
</div>