<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="StartPage.css">
    <meta charset="UTF-8">
    <title>Kopilka</title>
    <link rel="stylesheet" href="../../static/img/pngwing3.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="cont" align="center">
    <div class="container1">
        <p class="author_title">Начните зарабатывать на своих увлечениях</p>

        <div class="text1">
            <div class="author_text">
                Стабильный доход, независящий от рекламы<br><br>
                Создавайте уникальные мерпориятия<br><br>
                Свобода творчества<br></div>
            <input type="button" class="logbutton" name="buttonlog" value="Стать автором">
        </div>
        <div class="ris1">
            <img class="pig_with_coins" src="pngwing3.png">
        </div>
    </div>
    <br>
    <div class="container2">
        <p class="donater_title">Поддержите своих любимых авторов</p>
        <div class="ris2">
            <img class="hand" src="pngwingHand.png">
        </div>
        <div class="text2">
            <div class="donater_text">
                Принимайте участие в творчестве автора<br><br>
                Следите за эксклюзивным контентом<br><br>
                Находите себе единомышленников<br></div>
            <input type="button" class="logbutton" name="buttonlog" value="Стать донатером">
        </div>
    </div>
    <br><br>
    <div class="container3">
        <p class="profiles_title">Уже с нами</p>
        <div class="profiles">
            <span class="arrow arrow-left"></span>
            <div class="profile">
                <div class="ava"></div>
                <div class="name">
                    Serezha <br><br>
                </div>
                <div class="followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="logbutton1" name="buttonlog" value="Перейти в профиль">
            </div>
            <div class="profile">
                <div class="ava"></div>
                <div class="name">
                    Serezha <br><br>
                </div>
                <div class="followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="logbutton1" name="buttonlog" value="Перейти в профиль">
            </div>
            <div class="profile">
                <div class="ava"></div>
                <div class="name">
                    Serezha <br><br>
                </div>
                <div class="followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="logbutton1" name="buttonlog" value="Перейти в профиль">
            </div>
            <span class="arrow arrow-right"></span>
        </div>
        <input type="button" class="joinbutton" name="buttonlog" value="Присоединиться">
    </div>
</div>
</body>
</html>


<!--
    <script src="login.js"></script>
    <div class="error"></div>
    <div class="container1">
        <p class="return_text">С возвращением!</p>
        <img class="pig" src="img/pngwing1.png">
    </div>
    <div class="container2">
        <p class="entry_text">Вход1</p>
        <form action="login" method="post">
            <input type="login" class="login_" placeholder="Логин" id="login" name="login" required><br>
            <input type="password" class="password_" placeholder="Пароль" id="password" name="password" required><br>
            <label class="label_remember_me">
                <input class="checkbox_" type="checkbox">
                <span class="remember_me">Запомнить меня</span>
            </label><br>
            <div class="button_and_heading">
                <input type="button" class="logbutton" name="buttonlog" value="Войти">
                <p class="forgot" href="/">Забыли пароль?</p>
            </div>
    </div>
    </form>
    -->