<link rel="stylesheet" href="components/UserProfile/user_profile.css">

<div class="user-cover"></div>

<div class="page-data">

    <div class="left-column">
        <div class="ava-block">
            <div class="ava"></div>
            <div class="subs-amount">{{donated}}</div>
            <div class="subs-word">Пожертвовано</div>
        </div>
    </div>

    <div class="main-data">
        <div class="name-and-status">
            <div class="nickname">{{nickname}}</div>
            <div class="status">{{status}}</div>
        </div>
    </div>
    <div class="right-column">
        <div class="subscriptions">
            Подписки
            <div class = 'target-separator'></div>
            {{#each subs}}
                <div class="sub-element">
                    <img src="img/default-ava.png">
                    {{this.name}}
                </div>
            {{/each}}
        </div>
    </div>

</div>