<div class="comment">
    <div class="comment-ava"><img src="" class="comment-ava-img"></div>
    <div class="comment-data">
        <div class = "comment-nickname">{{user.login}}</div>
        <div class = "comment-text">{{text}}</div>
        <div class = "comment-date">{{creation_date}}</div>
    </div>
</div>