.survey {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  display: grid;
  gap: 15px;
  grid-template-columns: 22.5% 58.5% 20%;
  
  &__question {
    &__text {
      font-weight: 400;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.80);
    }
  }
  &__marks {
    &__mark {

    }
  }
}