<div class="survey">
  <div class="survey__question">
    <div class="survey__question__text">text</div>
  </div>
  <div class = 'target-separator'></div>
  <div class="survey__marks">
    <div class"survey_marks__mark">
      <input type="radio" id="mark_0" name="mark_variant" value="0">
      <label for="mark_0">0</label>
    </div> 
    <div class"survey_marks__mark">
      <input type="radio" id="mark_0" name="mark_variant" value="0">
      <label for="mark_0">1</label>
    </div> 
    <div class"survey_marks__mark">
      <input type="radio" id="mark_0" name="mark_variant" value="0">
      <label for="mark_0">2</label>
    </div>
    <div class"survey_marks__mark">
      <input type="radio" id="mark_0" name="mark_variant" value="0">
      <label for="mark_0">3</label>
    </div>
    <div class"survey_marks__mark">
      <input type="radio" id="mark_0" name="mark_variant" value="0">
      <label for="mark_0">4</label>
    </div> 
  </div>
  <button class="survey__submit-button" id="publish">Опубликовать</button>
</div>