<div class="survey">
  <div class="survey__question">
    <div class="survey__question__text">text</div>
  </div>
  <div class="survey__marks">
    <div class"survey_marks__mark">
      0
    </div> 
    <div class"survey_marks__mark">
      1
    </div> 
    <div class"survey_marks__mark">
      2
    </div> 
  </div>
</div>