.submenu {
    padding: 15px;
    float: right;
    width: fit-content;
    border-radius: 12px;
    background-color: white;
    display: inline;
    // margin-right: 8vw;
    &__exit-button {
        display: none;
    }
}

@media (max-width: 1980px) and (orientation: portrait) {
    .submenu__exit-button {
      cursor: pointer;
    }
  }