<script src="ProfileMenu.js"></script>
<div id="submenu" class="submenu" style="display: none;">
    <div id="my_profile_button" style="cursor: pointer;"><img src="" style="height: 100%;"/> Мой профиль
    </div>
    <div id="profile_settings_button" style="cursor: pointer;"><img src="" style="margin-top: 1vh;"/> Настройки аккаунта
    </div>
    <div class="submenu__exit-button">Выйти</div>
</div>