.submenu {
    padding: 15px;
    float: right;
    width: fit-content;
    border-radius: 12px;
    background-color: white;
    display: inline;
    // margin-right: 8vw;
    &__exit-button {
        display: none;
    }
    position: absolute;
}

@media (max-width: 760px){
    .submenu__exit-button {
      cursor: pointer;
      display: inline !important;
    }
  }