<script src="ProfileMenu.js"></script>
<div id="submenu" class="submenu" style="display: none;">
    <div id="my_profile_button" class="submenu__btn">
        <img src="" style="height: 100%;"/>
        <span>Мой профиль</span>
    </div>
    <div id="profile_settings_button" class="submenu__btn">
        <img src="" style="margin-top: 1vh;"/>
        <span>Настройки аккаунта</span>
    </div>
        <div id="profile_analytics_button" class="submenu__btn">
        <img src="" style="margin-top: 1vh;"/>
        <span>Аналитика</span>
    </div>
    <div class="submenu__exit-button">Выйти</div>
</div>