@import "@components/Shared/common.scss";

.statistic {
  background-color: white;
  border-radius: 12px;
  padding: 1vh 1vw;
  position: relative;
  left: 40%;
  min-width: 5%;
  max-width: 30%;
  display: inline-block;
  &__blocks {
    display: inline-block;
    &__block {
      display: inline-grid;
      &__ratings {
        display: inline-flex;
      }
    }
  }
}