<div class="statistic">
  <div class="statistic__blocks">
    {{#each questions}}
      <div class="statistic__blocks__block">
        <div class="statistic__blocks__block__question">
          Вопрос: {{this.question}}
        </div>
        {{#each this.rating}}
          <div class="statistic__blocks__block__ratings">
            <div class="statistic__blocks__block__ratings__rating">
              {{this.rating}} -
            </div>
            <div class="statistic__blocks__block__rating__answers">
              {{this.answers}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>