<dialog class="donate-window" id="donate-dialog">
    <div class="donate-window__error-text" style="color:red"></div>
    <input type="number" class="donate-window__sum-input" placeholder="Сумма" min=10><br>
    <textarea class="donate-window__message-input" placeholder="Сообщение"></textarea>
    <br>
    <button class="donate-window__send-donate-button" id="send-donate">Отправить донат</button>
    <br>
    <button class="donate-window__close-window-button" id="close">Закрыть окно</button>
</dialog>
