<dialog class="donate_window" id="donate-dialog">
<div class="error" style="color:red"></div>
    <input type="number" class="sum" placeholder="Сумма" min=10><br>
    <textarea class="message" placeholder="Сообщение"></textarea>
    <br>
    <button class="send_donate" id="send-donate">Отправить донат</button><br>
    <button class="close_window" id="close">Закрыть окно</button>
</dialog>
