.start-page {
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 15px;

 &__container{
   display: flex;
   flex-direction: row;
   align-items: center;
   border-radius: 12px;
   background-color: #FFE5CC;
   gap: 15px;
   padding: 15px;

   &__text-part {
    display: flex;
    flex-direction: column;
    gap: 15px;
   }

   &__header{
     text-align: center;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 20px;
     color: #D68048;
   }

   &__img{
     width: 50px;
     height: 50px;
   }

   &__text{
     font-family: sans-serif;
     font-size: 16px;
     font-weight: 400;
     color: #D68048;
     display: flex;
     flex-direction: column;
     gap: 15px;
   }

   &__button{
     text-align: center;
     font-size: 0.9rem;
     font-weight: bold;
     color: white;
     background-color: #FF8A26;
     border-radius: 5px;
     border: none;
     font-family: sans-serif;
     width: 150px;
     height: 7vh;
   }

   &__profiles{
     border-radius: 12px;
     border: 1.5px solid #FFB97D;
     width: 90%;
     height: 65%;
     margin-bottom: 10px;
     display: flex;
     background-color: #FFDBB8;

     &__arrow{
       &__left{
         display: inline-block;
         width: 15px;
         height: 15px;
         border-top: 2px solid #000;
         border-right: 2px solid #000;
         color: #FFB97D;
         margin-left:2%;
         margin-top:16%;
         transform: rotate(-135deg);
       }
       &__right{
         display: inline-block;
         width: 15px;
         height: 15px;
         border-top: 2px solid #000;
         border-right: 2px solid #000;
         color: #FFB97D;
         margin-left:2%;
         margin-top:16%;
         transform: rotate(45deg);
       }
     }
     &__profile{
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: white;
       margin-top: 1%;
       border-radius: 12px;
       border: 1.5px solid #FFB97D;
       width: 26%;
       height: 90%;
       margin-left:8px;

       &__ava{
         margin-top: 7px;
         margin-bottom: 7px;
         width: 55px;
         height: 55px;
         background-color: #C8D9EB;
         border-radius: 50%;
       }

       &__name{
         font-family: sans-serif;
         font-size: 11px;
         font-weight: bold;
       }

       &__followers{
         font-family: sans-serif;
         font-size: 7px;
         font-weight: bold;
       }
       &__button{
         width: 90px;
         height: 25px;
         font-family: sans-serif;
         font-size: 7px;
         font-weight: bold;
         background-color: white;
         border: 1.5px solid #FFB97D;
         border-radius: 5px;
         margin-top: 5px;
       }
     }
   }
 }
}