<div class="cont">
    <div class="container1">
        <p class="return_text">Начните зарабатывать на своих увлечениях</p>

        <img class="pig_with_coins" src="" id="flourish-pig">
        <div class="author_text">
        Стабильный доход, независящий от рекламы<br>
        Создавайте уникальные мерпориятия<br>
        Свобода творчества<br></div>
        <input type="button" class="logbutton" name="buttonlog" value="Стать автором">
    </div>
    <br>
    <div class="container2">
        <p class="return_text">Поддержите своих любимых авторов</p>
        <img class="hand" src="" id="hand">
        <div class="donater_text">
        Принимайте участие в творчестве автора<br>
        Следите за эксклюзивным контентом<br>
        Находите себе единомышленников<br></div>
        <input type="button" class="logbutton" name="buttonlog" value="Стать донатером">
    </div>
    <br>
    <div class="container3">
        <p class="return_text">Уже с нами</p>
        <div class="profiles">
            <span class="arrow arrow-left"></span>
            <div class="profile">
                <div class="ava"></div>
                <div class="name">
                    Serezha <br><br>
                </div>
                <div class="followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="logbutton1" name="buttonlog" value="Перейти в профиль">
            </div>
            <div class="profile">
                <div class="ava"></div>
                <div class="name">
                    Serezha <br><br>
                </div>
                <div class="followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="logbutton1" name="buttonlog" value="Перейти в профиль">
            </div>
            <div class="profile">
                <div class="ava"></div>
                <div class="name">
                    Serezha <br><br>
                </div>
                <div class="followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="logbutton1" name="buttonlog" value="Перейти в профиль">
            </div>
            <span class="arrow arrow-right"></span>
        </div>
        <input type="button" class="joinbutton" name="buttonlog" value="Присоединиться">
    </div>
</div>