<div class="start-page">
    <div class="start-page__container">
        <p class="start-page__container__header">Начните зарабатывать на своих увлечениях</p>

        <img class="start-page__container__img" src="" id="flourish-pig">
        <div class="start-page__container__text">
        Стабильный доход, независящий от рекламы<br>
        Создавайте уникальные мерпориятия<br>
        Свобода творчества<br></div>
        <input type="button" class="start-page__container__button" name="buttonlog" value="Стать автором">
    </div>
    <br>
    <div class="start-page__container">
        <p class="start-page__container__header">Поддержите своих любимых авторов</p>
        <img class="start-page__container__img" src="" id="hand">
        <div class="start-page__container__text">
        Принимайте участие в творчестве автора<br>
        Следите за эксклюзивным контентом<br>
        Находите себе единомышленников<br></div>
        <input type="button" class="start-page__container__button" name="buttonlog" value="Стать донатером">
    </div>
    <br>
    <div class="start-page__container">
        <p class="start-page__container__header">Уже с нами</p>
        <div class="start-page__container__profiles">
            <span class="start-page__container__profiles__arrow__left"></span>
            <div class="start-page__container__profiles__profile">
                <div class="start-page__container__profiles__profile__ava"></div>
                <div class="start-page__container__profiles__profile__name">
                    Serezha <br><br>
                </div>
                <div class="start-page__container__profiles__profile__followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="start-page__container__profiles__profile__button" name="buttonlog" value="Перейти в профиль">
            </div>
            <div class="start-page__container__profiles__profile">
                <div class="start-page__container__profiles__profile__ava"></div>
                <div class="start-page__container__profiles__profile__name">
                    Serezha <br><br>
                </div>
                <div class="start-page__container__profiles__profile__followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="start-page__container__profiles__profile__button" name="buttonlog" value="Перейти в профиль">
            </div>
            <div class="start-page__container__profiles__profile">
                <div class="start-page__container__profiles__profile__ava"></div>
                <div class="start-page__container__profiles__profile__name">
                    Serezha <br><br>
                </div>
                <div class="start-page__container__profiles__profile__followers">
                    1000 подписчиков<br>
                </div>
                <input type="button" class="start-page__container__profiles__profile__button" name="buttonlog" value="Перейти в профиль">
            </div>
            <span class="start-page__container__profiles__arrow__left"></span>
        </div>
        <input type="button" class="start-page__container__button" name="buttonlog" value="Присоединиться">
    </div>
</div>