<link rel="stylesheet" href="main_register.css">
<link rel="stylesheet" href="switch.css">
<div class="cont">
    <div class="container1">
        <p class="return_text">Добро пожаловать!</p>
        <img class="pig" src="../../../static/img/pngwing1.png">
    </div>
    <div class="container2">
        <p class="entry_text">Вход</p>
        <form action="login" method="post">
            <input type="login" class="login_" placeholder="Логин" id="login" name="login" required><br>
            <input type="password" class="password_" placeholder="Пароль" id="password" name="password" required><br>
            <input type="password" class="password_" placeholder="Повторите пароль" id="password" name="password" required><br>
           <div class="switch">
          <input id="toggle" class="toggle" type="checkbox" role="switch" name="toggle" value="on">
          <label for="toggle" class="slot">
              <span class="slot__label">ДОНАТЕР</span>
              <span class="slot__label">АВТОР</span>
          </label>
          </div>
                <input type="button" class="regbutton" name="buttonreg" value="Зарегистрироваться">
    </div>
    </form>
</div>
