<link rel="stylesheet" type="text/css" href="components/Register/register.css"/>
  <div class="container">
    <script src="error.js"></script>
    <div class="error"></div>
      <form action="register" method="post">
        <input type="login" placeholder="Логин" id="login" name="login" required><br>
        <input type="password" placeholder="Пароль" id="password" name="password" required><br>
        <input type="password" placeholder="Повторите пароль" id="repeat-password" name="password" required><br>
        <input type="submit" class="regbutton" value="Зарегистрироваться">
      </form>
  </div>