body {
    height: 100vh;
}

.container {
    height: 93vh;
    text-align: center;

}

@media (min-height: 250px) {
.container {
    height: 93vh;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content:center;
    }
}


.login_{
    padding-left: 10px;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;
    width: 25vw;
    height: 10vh;
}


.login_::placeholder{
    font-family: sans-serif;
    font-size: 1rem;
}

.password_::placeholder{
    font-family: sans-serif;
    font-size: 1rem;
}


.password_{
    padding-left: 10px;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 25vw;
    height: 10vh;
}

.logbutton{

    text-align: center;
    font-size: 1rem;
    color: white;
    background-color:  #FF4D4D;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 15vw;
    height: 10vh;
}

@media (max-width: 600px) {
  .logbutton {
    width: 90px;
  }
  .password_{
      width: 150px;
  }
  .login_{
      width: 150px;
  }
}
@media (max-height: 500px) {

  .logbutton {
    height: 49px;
  }
  .password_{
    height: 49px;
  }
  .login_{
    height: 49px;
  }
}


.forgotpassword{
    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: None;
    color: #FF4D4D;
}

.regbutton{
    padding-left: 10px;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color:  #FF4D4D;
    margin: 10px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF8364;

    width: 25vw;
    height: 10vh;
}

h6{
    font-family: sans-serif;
    margin-bottom: -5px;
    font-weight: normal;
    font-size: 1rem;
    color: #FF4D4D;
}
