<link rel="stylesheet" href="components/Comment/comment.css">
<div class="comment">
    <div class="comment-ava"><img src="img/{{picname}}"></div>
    <div class="comment-data">
        <div class = "comment-nickname">{{nickname}}</div>
        <div class = "comment-text">{{text}}</div>
        <div class = "comment-date">{{datetime}}</div>
    </div>
</div>