@import "@components/Shared/common.scss";
@import "@components/Shared/logreg.scss";

@mixin pass-icon {
  width: calc(5px + 1vw);
  height: calc(15px + 1vh);
  // display: inline;
  border: none;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

@media (max-width: 760px) and (orientation: portrait) {
  // .login-page {
  //   width: auto!important;
  // }
  .login-page__pig {
    display: none !important;
  }

  // .login-page__input {
  //   width: fit-content !important;
  //   border-radius: 12px !important;
  // }

  // .login-page__input-login-button {
  //   margin-left: 1vh;
  // }
}

.login-page {
  @include log-reg-page;

  &__pig {
    @include pig;
  }

  &__input {
    @include log-reg-input;
  }

  &__error-text {
    color: $error-color;
  }

  &__input-login {
    @include login-field;
  }

  &__input-password {
    @include password-field;
  }

  &__input-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
  }

  &__input-login-button{
    @include button;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #FF8A26;
    border: none;
    font-family: sans-serif;
    width: 12rem;
    height: 7vh;
    margin-top: 3.5rem;
  }

  &__input-entry-text {
    @include log-reg-text;
  }

  &__input-forgot-pass {
    font-family: sans-serif;
    font-size: 0.8rem;
    margin-left: 1vw;
    color: #FFB97D;
    margin-top: 3.5rem;
  }

  &__input-buttons {
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
  }

  &__pig-img {
    height: 300px;
    position: relative;
  }

  &__pig-welcome-text {
    @include pig-text;
  }

  &__passin {
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 5px;
  }

  &__pass-icon {
    &_show {
      @include pass-icon;
      background: url(@static/icons/icons8-eye-30.png) center/contain no-repeat;
    }
    &_hide {
      @include pass-icon;
      background: url(@static/icons/icons8-hide-30.png) center/contain no-repeat;
    }
  }
}
