<div class="user-cover"></div>

<div class="page-data">

    <div class="left-column">
        <div class="ava-block">
            <div class="ava">
                <img src="img/rg-ava.png" class="ava-img">
            </div>
            <div class="subs-amount">{{donated}}</div>
            <div class="subs-word">Пожертвовано</div>
        </div>
    </div>

    <div class="main-data">
        <div class="name-and-status">
            {{#if isOwner}}
                <img src="icons/Settings2.svg" id="status-setting" class="page-settings">
            {{/if}}
            <div class="nickname">{{user.login}}</div>
            <div class="status">{{user.status}}</div>
        </div>
    </div>
    <div class="right-column">
        <div class="subscriptions">
            Подписки
            <div class='target-separator'></div>
            {{#each subscriptions}}
                <div class="sub-element">
                    <img src="img/default-ava.png" class="sub-pic">
                    {{this.login}}
                </div>
            {{/each}}
        </div>
    </div>

    <dialog id="status_dialog">
        <h2 style="margin-top: 1vh">Статус:</h2>
        <div><input type="text" class="status-input" id="status_input" maxlength="100"></div>
        <div>
            <button class="save-btn common-button" id="status_save_btn">OK</button>
        </div>
    </dialog>
</div>