<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="donate.css">
</head>
<body>

<button id="open">Отправить донат</button>
<dialog class="donate_window">
    <input type="number" class="sum" placeholder="Сумма"><br>
    <textarea class="message" placeholder="Сообщение"></textarea>

<br>
    <button class="send_donate">Отправить донат</button><br>
  <button class="close_window" id="close">Закрыть окно</button>
  </dialog>


    <script src="donate.js"></script>
</body>
</html>