<div class="settings">
    <div id = "back" ><- Вернуться к профилю</div>
    <h2>Настройки</h2>
    <div class="settings-grid">
        <div class="settings-params">
            <h3>Профиль</h3>
            <div class = "errorField"><h4>{{error}}</h4></div>
            <h3>Фотография профиля</h3>
            <div class="ava-grid">
                <div>
                    <img src="img/default-ava.png" class="settings-ava">
                </div>
                <div style="margin-top: 13vh;">
                    <input class="upload-ava" type="file" id="upload-avatar" name="up-ava" hidden>
                    <label for="upload-avatar">Выбрать файл</label>
                    <div class="ava-reqs">
                        PNG, JPG размером 225x280 не более 10 Mb.
                    </div>
                </div>
            </div>
            <h3>Логин</h3>
            <input type="text" class="profile-params-input" id="login">
            <h3>Новый пароль</h3>
            <input type="text" class="profile-params-input" id="new-password">
            <h3>Старый пароль</h3>
            <input type="text" class="profile-params-input" id="old-password">
            <div class="buttons">
                <button class="save-profile-button common-button">Сохранить</button>
                <button class="delete-profile-button common-button">
                    <img src="icons/musorka.svg">
                    Удалить аккаунт
                </button>
            </div>
        </div>
        <div class="settings-list">
            <div class="setting-element">
                <img src="icons/Account.svg" style="height: 100%;">
                Профиль
            </div>
        </div>
    </div>
</div>