@import "@components/Shared/common.scss";

.settings {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 3vh;

  &__grid {
    height: 100%;
    display: grid;
    grid-template-columns: 62% 38%;
  }

  &__grid-params {
    padding-top: 0.5vh;
    padding-left: 1vw;
    background-color: white;
    border-radius: 12px;
    width: 30vw;
  }

  &__grid-list {
    margin-left: 1vw;
    border-radius: 12px;
    width: 100%;
  }

  &__grid-list-element {
    background-color: white;
    padding: 2vh;
    border-radius: 12px;
  }

  &__grid-params-ava-grid {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  &__grid-params-ava-grid-ava-pic {
    border-radius: 999px;
    width: 10vw;
    aspect-ratio: 1/1;
  }

  &__grid-params-input {
    border-color: #D9D9D9;
    border-radius: 12px;
    height: 2vh;
    padding: 1vh;
    width: 40%;
  }

  &__grid-params-buttons {
    padding: 1vh;
    background-color: white;
    border-radius: 12px;
    height: 5vh;
    width: 100%;
    margin-top: 3vh;
    margin-left: -1vw;
  }

  &__grid-params-ava-grid-reqs {
    color: gray;
    margin-top: 2vh;
  }

  &__grid-params-label {
    background-color: white;
    padding: 0.5rem;
    border: #FF4D4D solid;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  &__grid-params-buttons-save {
    @include main-color-button;
    width: 7vw;
    height: 100%;
  }
}


/*.delete-profile-button {*/
/*    border-color: #FF4D4D;*/
/*    float: right;*/
/*    margin-right: 20vh;*/
/*    color: #FF4D4D;*/
/*    width: 12vw;*/
/*    background-color: white;*/
/*    height: 100%;*/
/*    margin-left: 1vw;*/
/*}*/